{% extends 'base.html' %}
{% block content %}
<h2>Signup</h2>
{% if message %}<div class="alert">{{ message }}</div>{% endif %}
<form method="post">
	<div>
		<label for="username">Username</label><br>
		<input id="username" name="username" />
	</div>
	<div>
		<label for="password">Password</label><br>
		<input id="password" type="password" name="password" />
	</div>
	<div>
		<label for="bio">Bio</label><br>
		<textarea id="bio" name="bio"></textarea>
	</div>
	<button class="button" type="submit">Create account</button>
</form>
{% endblock %}
